@inherits BaseMatMenu


<div class="mdc-menu mdc-menu-surface" tabindex="-1" ref="MdcMenu">
    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
        <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">A Menu Item</span>
        </li>
        <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text">Another Menu Item</span>
        </li>
    </ul>
</div>