@namespace MatBlazor
@inherits BaseMatDomComponent
<CascadingValue Value="@this">
    <div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
        @ChildContent
    </div>
</CascadingValue>