@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString()" @ref="Ref" style="@StyleMapper.AsString()" @onclick="OnClickHandler" @attributes="Attributes" Id="@Id">
    @ChildContent

    @if (!ExpansionPanel.HideToggle)
    {
        <span class="after material-icon">&#58131;</span>
    }
</div>