@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString() mat-expansion-panel__header" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    @ChildContent
</div>