@namespace MatBlazor
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString() mat-expansion-panel__sub-header" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    @ChildContent
</div>