@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class mat-expansion-panel__content" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
    @ChildContent
</div>

@functions
{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}