@namespace MatBlazor
@inherits BaseMatExpansionPanel

<CascadingValue Value="@this">
    <div class="@ClassMapper.Class" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
        @ChildContent
    </div>
</CascadingValue>