@import "@material/textfield/mdc-text-field";

.mat-text-field-icon-container {
  position: absolute;
  right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

/* Hide clear button from edge */
.mat-hide-clearbutton::-ms-clear {
  width: 0;
  height: 0;
}

/* Fix Full Width padding issues */
label.mdc-text-field.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 20px 16px 6px;
}

label.mdc-text-field--fullwidth-with-trailing-icon:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 20px 48px 6px 16px;
}

label.mdc-text-field--fullwidth-with-leading-icon:not(.mdc-text-field--textarea) > input.mdc-text-field__input {
  padding: 20px 16px 6px 48px !important;
}

.mat-floating-label--float-above-outlined {
  background-color: var(--mdc-theme-surface, #fff) !important;
}

/* For EditForm validation messages */
.validation-message {
  color: red;
}

/* For TextField */
.mdc-text-field__input.valid.modified {
  border-bottom: 2px solid #10b510 !important;
}

.mdc-text-field__input.invalid {
  border-bottom: 2px solid red !important;
}

//.mdc-dialog__content > .mdc-text-field {
//   display: block;
//   margin: 1rem 0;
// }
//
//.mdc-dialog__content > .mdc-text-field + .validation-message {
//  margin-top: -0.8rem;
//  margin-bottom: 0.7rem;
//  font-size: 0.9rem;
//}

/* Label color to theme primary color */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary, #6200ee);
}

/* For DatePicker */
.valid.modified > .mdc-text-field__input {
  border-bottom: 2px solid #10b510 !important;
}

.invalid > .mdc-text-field__input {
  border-bottom: 2px solid red !important;
}

/* For Select */
.mat-select {
  .invalid {
    border-bottom: 2px solid red !important;
  }

  .valid.modified {
    border-bottom: 2px solid #10b510 !important;
  }
}

