@import "@material/textfield/mdc-text-field";


/* Hide clear button from edge */
.mat-hide-clearbutton::-ms-clear
{
    width:0;
    height:0;
}

/* Fix Full Width padding issues */
div.mdc-text-field.mdc-text-field--fullwidth:not(.mdc-text-field--textarea)>input.mdc-text-field__input{
    padding: 20px 16px 6px;
}

div.mdc-text-field--fullwidth-with-trailing-icon:not(.mdc-text-field--textarea)>input.mdc-text-field__input
{
    padding: 20px 48px 6px 16px;
}

div.mdc-text-field--fullwidth-with-leading-icon:not(.mdc-text-field--textarea)>input.mdc-text-field__input
{
    padding: 20px 16px 6px 48px;
}
