@namespace MatBlazor
@inherits BaseMatOption

<option value="@Value" disabled=@Disabled class="@ClassMapper.Class" style="@Style" @ref="Ref" @attributes="Attributes" Id="@Id">
    @ChildContent
</option>