@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<span class="@ClassMapper.AsString() mdc-list-item__primary-text" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    @ChildContent
</span>

@code
{

    [Parameter]
    public  RenderFragment ChildContent { get; set; }

}