@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<span class="@ClassMapper.Class mdc-list-item__primary-text" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
    @ChildContent
</span>

@code
{

    [Parameter]
    public  RenderFragment ChildContent { get; set; }

}