@using Microsoft.AspNetCore.Components

@if (Href == null)
{
    <li class="mdc-list-item">
        @ChildContent
    </li>
}
else
{
    <a class="mdc-list-item" href="@Href" onmousedown=@OnMouseDown>
        @ChildContent
    </a>
}

@functions
{
    [Parameter]
    protected Action<UIMouseEventArgs> OnMouseDown { get; set; }

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

    [Parameter]
    protected string Href { get; set; }

}