@namespace MatBlazor
@inherits BaseMatDomComponent

<li role="separator" class="@ClassMapper.AsString() mdc-list-divider" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id"></li>
