@namespace MatBlazor
@inherits BaseMatDomComponent

<li role="separator" class="@ClassMapper.Class mdc-list-divider" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id"></li>