@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<span class="@ClassMapper.Class mdc-list-item__primary-text" style="@Style" @ref="Ref" @attributes="Attributes" Id="@Id">
    @ChildContent
</span>

@functions
{

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

}