@inherits BaseMatSelect

<div class="@ClassMapper.Class" ref="MdcSelectRef">
    <i class="mdc-select__dropdown-icon"></i>
    <select class="mdc-select__native-control">
        @ChildContent
    </select>
    @if (Label != null)
    {
        <label class="mdc-floating-label">@Label</label>
    }
    <div class="mdc-line-ripple"></div>
</div>

@functions
{
}