@page "/ForwardRef";

<h3 class="mat-h3">RefBack concept</h3>

<p>ForwardRef is a technique for automatically passing a ElementRef through a component to one of its children or back from children to parent or among independent components. </p>
<p>This is typically not necessary for most components in the application. </p>
<p>However, it can be useful for some kinds of components, especially in reusable component libraries. </p>
<p>The most common scenarios are described <a target="_blank" href="https://www.samprof.com/2019/06/03/blazor-forwardref" style="font-weight: bold;">here</a>.</p>