@page "/Test"
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JsRuntime;


<p>
    <MatNumericUpDownField
        @bind-Value=@value
         Minimum="0" Maximum="8">
    </MatNumericUpDownField>
</p>


@code
{
    int value = 0;
}