@page "/Test"
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JsRuntime;
@inject IComponentContext ComponentContext


<br />
<br />
<br />
Works
<MatTooltip Tooltip="Test">
    <MatIcon RefBack="@context" Icon="@MatIconNames.Check_circle"></MatIcon>
</MatTooltip>
<br />
<br />
<br />
Doesn't work in table
<br />
<br />
<table>
    <tr>
        <th>Col1</th>
        <th>Col2</th>
        <th>Col3</th>
    </tr>
    <tr>
        <td>blabla</td>
        <td>stuff</td>
        <td>
            <MatTooltip Tooltip="Test">
                <MatIcon RefBack="@context" Icon="@MatIconNames.Check_circle"></MatIcon>
            </MatTooltip>
        </td>
    </tr>
</table>