@page "/"


<div class="jumbotron">
    <h1 class="display-1">MatBlazor</h1>
    <p class="lead">Material Design components for Blazor and Blazor Components.</p>
</div>

<div class="row marketing">


    <div class="col-lg-6">
        <div class="card ">
            <div class="card-header">
                Installation
            </div>
            <div class="card-body">

                <div class="card-text">
                    
                    <p>
                        Install MatBlazor library via nuget.
                    </p>

                    <p>
                        <code>
                            Install-Package MatBlazor
                        </code>
                    </p>
                    <p>
                        or
                    </p>
                    <p>
                        <code>
                            dotnet add package MatBlazor
                        </code>
                    </p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="card ">
            <div class="card-header">
                Usage
            </div>
            <div class="card-body">

                <div class="card-text">

                    <p>
                        MatBlazor components are self-supporting.
                    </p>

                    <p>
                        <BlazorFiddle Template="MatBlazor" Code=@(@"@addTagHelper *,MatBlazor
<MatButton>Test</MatButton>")>
                        </BlazorFiddle>
                    </p>


                    <p>
                        <b>MatBlazor components for Razor Components</b>
                    </p>

                    <p>
                        At the beginning of the your application, usually in MainLayout.cshtml please add MatBlazorInstall component
                        <BlazorFiddle Template="MatBlazor" Code=@(@"<MatBlazorInstall />")>
                        </BlazorFiddle>
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="">
    <News></News>
</div>