@page "/"

<h1>MatBlazor!</h1>
<br/>

<DemoMatTextField></DemoMatTextField>
<DemoMatButton></DemoMatButton>
<DemoMatCard></DemoMatCard>
<DemoMatCheckbox></DemoMatCheckbox>
<DemoMatChip></DemoMatChip>
<DemoMatRadioButton></DemoMatRadioButton>
<DemoMatSelect></DemoMatSelect>
<DemoMatSlider></DemoMatSlider>
