@page "/"


<h1 class="mat-h1">MatBlazor</h1>
<h4 class="mat-h4">Material Design components for Blazor and Blazor Components.</h4>

<h5 class="mat-h5">Installation</h5>

<p>
    Install MatBlazor library via nuget.
</p>

<p>
    <code>
        Install-Package MatBlazor
    </code>
</p>
<p>
    or
</p>
<p>
    <code>
        dotnet add package MatBlazor
    </code>
</p>


<h5 class="mat-h5">Usage</h5>


<p>
    MatBlazor components are self-supporting.
</p>

<p>
    <BlazorFiddle Template="MatBlazor" Code=@(@"@addTagHelper *,MatBlazor
<MatButton>Test</MatButton>")>
    </BlazorFiddle>
</p>

<h5 class="mat-h5">MatBlazor components for Razor Components</h5>


<p>
    At the beginning of the your application, usually in MainLayout.cshtml please add MatBlazorInstall component
    <BlazorFiddle Template="MatBlazor" Code=@(@"<MatBlazorInstall />")>
    </BlazorFiddle>
</p>


<div class="">
    <News></News>
</div>