@import "@material/select/mdc-select";

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
  
  /* For IE10 */
select::-ms-expand {
    display: none;
}