@import "@material/elevation/mdc-elevation";

.mat-elevation-z0 {
  @extend .mdc-elevation--z0;
}

.mat-elevation-z1 {
  @extend .mdc-elevation--z1;
}

.mat-elevation-z2 {
  @extend .mdc-elevation--z2;
}

.mat-elevation-z3 {
  @extend .mdc-elevation--z3;
}

.mat-elevation-z4 {
  @extend .mdc-elevation--z4;
}

.mat-elevation-z5 {
  @extend .mdc-elevation--z5;
}

.mat-elevation-z6 {
  @extend .mdc-elevation--z6;
}

.mat-elevation-z7 {
  @extend .mdc-elevation--z7;
}

.mat-elevation-z8 {
  @extend .mdc-elevation--z8;
}

.mat-elevation-z9 {
  @extend .mdc-elevation--z9;
}

.mat-elevation-z10 {
  @extend .mdc-elevation--z10;
}

.mat-elevation-z11 {
  @extend .mdc-elevation--z11;
}

.mat-elevation-z12 {
  @extend .mdc-elevation--z12;
}

.mat-elevation-z13 {
  @extend .mdc-elevation--z13;
}

.mat-elevation-z14 {
  @extend .mdc-elevation--z14;
}

.mat-elevation-z15 {
  @extend .mdc-elevation--z15;
}

.mat-elevation-z16 {
  @extend .mdc-elevation--z16;
}

.mat-elevation-z17 {
  @extend .mdc-elevation--z17;
}

.mat-elevation-z18 {
  @extend .mdc-elevation--z18;
}

.mat-elevation-z19 {
  @extend .mdc-elevation--z19;
}

.mat-elevation-z20 {
  @extend .mdc-elevation--z20;
}

.mat-elevation-z21 {
  @extend .mdc-elevation--z21;
}

.mat-elevation-z22 {
  @extend .mdc-elevation--z22;
}

.mat-elevation-z23 {
  @extend .mdc-elevation--z23;
}

.mat-elevation-z24 {
  @extend .mdc-elevation--z24;
}


.mat-elevation-transition {
  @extend .mdc-elevation-transition;
}


.mat-paper {
  background-color: var(--mdc-theme-surface, #ffffff);

  &.mat-paper--outlined {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }


  &.mat-paper--rounded {
    border-radius: 4px
  }

}
