@using Microsoft.AspNetCore.Components
@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class='form-group'>
        <div class='alert @ClassType @(Dismissible ? "alert-dismissible fade" : "") show' role='alert'>
            @Message
            @if (Dismissible)
            {
                <button type="button" class="close" onclick="@(() => Dismiss())">
                    <span aria-hidden="true">&times;</span>
                </button>
            }
        </div>
    </div>
}

@functions {

    [Parameter]
    string Message { get; set; }

    [Parameter]
    AlertType Type { get; set; }

    [Parameter]
    bool Dismissible { get; set; }

    [Parameter]
    Action OnDismiss { get; set; }

    string ClassType { get; set; }

    protected override void OnInit()
    {
        if (Type == AlertType.Danger)
        {
            ClassType = "alert-danger";
        }
        else if (Type == AlertType.Dark)
        {
            ClassType = "alert-dark";
        }
        else if (Type == AlertType.Info)
        {
            ClassType = "alert-info";
        }
        else if (Type == AlertType.Ligth)
        {
            ClassType = "alert-ligth";
        }
        else if (Type == AlertType.Link)
        {
            ClassType = "alert-link";
        }
        else if (Type == AlertType.Primary)
        {
            ClassType = "alert-primary";
        }
        else if (Type == AlertType.Secondary)
        {
            ClassType = "alert-secondary";
        }
        else if (Type == AlertType.Success)
        {
            ClassType = "alert-success";
        }
        else if (Type == AlertType.Warning)
        {
            ClassType = "alert-warning";
        }
    }

    protected void Dismiss()
    {
        Message = null;
        OnDismiss?.Invoke();
    }

}