@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class" style="@Style" ref="Ref">
    @ChildContent
</div>

@code
{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInit()
    {
        ClassMapper.Add("mat-expansion-panel__header");
    }

}