@namespace MatBlazor
@using Microsoft.AspNetCore.Components
<span class="mdc-list-item__secondary-text">
    @ChildContent
</span>

@functions
{

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

}