@using Microsoft.AspNetCore.Components
@inherits BaseMatTooltip

@if (!Wrap)
{
    if (ChildContent != null)
    {
        @ChildContent(ContentRefStore)
    }
}
else
{
    <div class="mat-tooltip-wrapper" ref="ContentRefStore.Ref">
        @if (ChildContent != null)
        {
            @ChildContent(ContentRefStore)
        }
    </div>
}

<div class="@ClassMapper.Class" ref="Ref" style="@Style">
    @if (TooltipContent != null)
    {
        @TooltipContent
    }
    else
    {
        @Tooltip
    }
</div>

@functions
{
}