@inherits BaseMatTabGroup

<div class="@ClassMapper.Class" ref="Ref" style="@Style">
    <MatTabBar bind-Active="@Active">
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    </MatTabBar>

    <div class="mat-tab-group-content">
        @Active?.Tab.ChildContent
    </div>
</div>