@using Microsoft.AspNetCore.Components
@inherits BaseMatTooltip

@ChildContent(ContentRefStore)

<div class="@ClassMapper.Class" ref="Ref" style="@Style">
    @if (TooltipContent != null)
    {
        @TooltipContent
    }
    else
    {
        @Tooltip
    }
</div>

@functions
{
}