@if (!Secondary)
{
    <h3 class="mat-h3">@Header</h3>
    <!-- MatBlazor SubHeader -->
    <div style="overflow: hidden; padding-top: 5px;">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3904134905954949"
             data-ad-slot="3480345890"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
    </div>
}
else
{
    <h5 class="mat-h5">@Header</h5>
}

@ChildContent

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Secondary { get; set; }

    [Parameter]
    public string Header { get; set; }

}