@using Microsoft.AspNetCore.Blazor.RenderTree
<div style="display: inline-block; width: 100%;">
    <div style="padding: 5px; border: 1px solid white; display: inline-block; float: left; width: 50%;">
        @Content
    </div>
    <div style="padding: 5px; border: 1px solid lightgray; background: aliceblue; font-family: monospace; overflow: auto; display: inline-block; width: 50%;">
        <div>
            @SourceContent
        </div>
    </div>
</div>



@functions
{

    [Parameter]
    RenderFragment Content { get; set; }

    [Parameter]
    RenderFragment SourceContent { get; set; }

    [Parameter]
    string SourcePath { get; set; }

}