@using Microsoft.AspNetCore.Components
<div>
    <div style="padding: 5px; border: 1px solid white; ">
        @Content
    </div>
    <div style="padding: 5px; font-family: monospace; overflow: auto;">
        <div>
            @SourceContent
        </div>
    </div>
</div>



@functions
{

    [Parameter]
    RenderFragment Content { get; set; }

    [Parameter]
    RenderFragment SourceContent { get; set; }

    [Parameter]
    string SourcePath { get; set; }

}