@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent


<div class="@ClassMapper.AsString()"
     style="@StyleMapper.AsString()"
     @ref="Ref"
     
     @attributes="Attributes" Id="@Id"
     role="status"
     aria-live="polite">
    @ChildContent
</div>


@code
{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ClassMapper.Add("mdc-snackbar__label");
    }

}