@namespace MatBlazor
@inherits BaseMatSnackbar

<div class="@ClassMapper.Class" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
    <div class="mdc-snackbar__surface">
        @ChildContent
    </div>
</div>