@namespace MatBlazor
@inherits BaseMatSnackbar

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    <div class="mdc-snackbar__surface">
        @ChildContent
    </div>
</div>