@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent


<div class="@ClassMapper.Class"
     style="@Style"
     @ref="Ref"
     @attributes="Attributes" Id="@Id"
     role="status"
     aria-live="polite">
    @ChildContent
</div>


@functions
{

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

    protected async override Task OnInitAsync()
    {
        await base.OnInitAsync();
        ClassMapper.Add("mdc-snackbar__label");
    }

}