@namespace MatBlazor
@inherits BaseMatChipSet

<div class="@ClassMapper.AsString() mdc-chip-set" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    @ChildContent
</div>