<DocMatChip></DocMatChip>
<DocMatChipSet Secondary="true"></DocMatChipSet>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <MatChipSet>
            <MatChip Label="Label"></MatChip>
            <MatChip Label="LeadingIcon" LeadingIcon="favorite"></MatChip>
            <MatChip Label="TrailingIcon" TrailingIcon="clear"></MatChip>
        </MatChipSet>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatChipSet>
            <MatChip Label=""Label""></MatChip>
            <MatChip Label=""LeadingIcon"" LeadingIcon=""favorite""></MatChip>
            <MatChip Label=""TrailingIcon"" TrailingIcon=""clear""></MatChip>
        </MatChipSet>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>