<DocMatTabBar></DocMatTabBar>
<DocMatTabLabel></DocMatTabLabel>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
       <MatTabBar>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
       </MatTabBar>

        @functions
        {
           
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
       <MatTabBar>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
           <MatTabLabel>Test1</MatTabLabel>
       </MatTabBar>

        @functions
        {
           
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

