<h1 class="mat-h1">MatDialog</h1>

<DemoContainer>
    <Content>
        <div>Dialog is open: @dialogIsOpen</div>
        <MatButton OnClick="ButtonClick">Open</MatButton>
        <MatDialog bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>Get this party started?</MatDialogTitle>
            <MatDialogContent>
                Turn up the jams and have a good time.
            </MatDialogContent>
            <MatDialogActions>
                <MatButton>Decline</MatButton>
                <MatButton>Accept</MatButton>
            </MatDialogActions>
        </MatDialog>

        @functions
        {

            bool dialogIsOpen = false;

            void ButtonClick()
            {
                dialogIsOpen = true;
                this.StateHasChanged();

            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <div>Dialog is open: @dialogIsOpen</div>
        <MatButton OnClick=""ButtonClick"">Open</MatButton>
        <MatDialog bind-IsOpen=""@dialogIsOpen"">
            <MatDialogTitle>Get this party started?</MatDialogTitle>
            <MatDialogContent>
                Turn up the jams and have a good time.
            </MatDialogContent>
            <MatDialogActions>
                <MatButton>Decline</MatButton>
                <MatButton>Accept</MatButton>
            </MatDialogActions>
        </MatDialog>

        @functions
        {

            bool dialogIsOpen = false;

            void ButtonClick()
            {
                dialogIsOpen = true;
                this.StateHasChanged();

            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>
