<DocMatHidden></DocMatHidden>

<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>