<h1>MatList</h1>

<h3>
    Basic Usage
</h3>
<DemoContainer>
    <Content>
        <MatList>
            <MatListItem>
                Item 1
            </MatListItem>
            <MatListItem>
                Item 2
            </MatListItem>
            <MatListItem>
                Item 3
            </MatListItem>
        </MatList>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>

<h3>SingleSelection</h3>
<DemoContainer>
    <Content>
        <MatList SingleSelection="true">
            <MatListItem>
                Item 1
            </MatListItem>
            <MatListItem>
                Item 2
            </MatListItem>
            <MatListItem>
                Item 3
            </MatListItem>
        </MatList>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>

<h3>
    Two-Line List
</h3>
<DemoContainer>
    <Content>
        <MatList SingleSelection="true" TwoLine="true">
            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>First-line text</MatListItemPrimaryText>
                    <MatListItemSecondaryText>Second-line text</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>

            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>First-line text</MatListItemPrimaryText>
                    <MatListItemSecondaryText>Second-line text</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>

            <MatListItem>
                <MatListItemText>
                    <MatListItemPrimaryText>First-line text</MatListItemPrimaryText>
                    <MatListItemSecondaryText>Second-line text</MatListItemSecondaryText>
                </MatListItemText>
            </MatListItem>

        </MatList>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>

<h3>
    MatListGroup
</h3>
<DemoContainer>
    <Content>
        <MatListGroup>
            <MatListGroupSubHeader>List 1</MatListGroupSubHeader>
            <MatList>
                <MatListItem>
                    line item
                </MatListItem>
                <MatListItem>
                    line item
                </MatListItem>
            </MatList>
            <MatListGroupSubHeader>List 2</MatListGroupSubHeader>
            <MatList>
                <MatListItem>
                    line item
                </MatListItem>
                <MatListItem>
                    line item
                </MatListItem>
            </MatList>
        </MatListGroup>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>

<h3>
    MatListDivider
</h3>
<DemoContainer>
    <Content>
        <MatList>
            <MatListItem>
                line item
            </MatListItem>
            <MatListDivider></MatListDivider>
            <MatListItem>
                line item
            </MatListItem>
            <MatListDivider></MatListDivider>
            <MatListItem>
                line item
            </MatListItem>
        </MatList>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>


<h1>Helper components</h1>
<h3>MatListItemText</h3>
<DemoContainer>
    <Content>
        <MatList SingleSelection="true">
            <MatListItem>
                <MatListItemText>
                    Item 1
                </MatListItemText>
            </MatListItem>
            <MatListItem>
                <MatListItemText>
                    Item 2
                </MatListItemText>
            </MatListItem>
            <MatListItem>
                <MatListItemText>
                    Item 3
                </MatListItemText>
            </MatListItem>
        </MatList>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>