<DocMatCard></DocMatCard>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <MatCard Class='mdc-card demo-card'>
            <MatCardPrimaryContent Class='demo-card__primary-action'>
                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            </MatCardPrimaryContent>
        </MatCard>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatCard Class='mdc-card demo-card'>
            <MatCardPrimaryContent Class='demo-card__primary-action'>
                <MatCardMedia Wide=""true"" ImageUrl=""https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""></MatCardMedia>
            </MatCardPrimaryContent>
        </MatCard>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>