<h3 class="mat-h3">MatDialog</h3>

<p class="mat-body1">
    Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.
</p>

<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>
        <div>Dialog is open: @dialogIsOpen</div>
        <MatButton OnClick="ButtonClick">Open</MatButton>
        <MatDialog bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>Get this party started?</MatDialogTitle>
            <MatDialogContent>
                Turn up the jams and have a good time.
            </MatDialogContent>
            <MatDialogActions>
                <MatButton>Decline</MatButton>
                <MatButton>Accept</MatButton>
            </MatDialogActions>
        </MatDialog>

        @functions
        {
            bool dialogIsOpen = false;

            void ButtonClick()
            {
                dialogIsOpen = true;
                this.StateHasChanged();
            }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <div>Dialog is open: @dialogIsOpen</div>
        <MatButton OnClick=""ButtonClick"">Open</MatButton>
        <MatDialog bind-IsOpen=""@dialogIsOpen"">
            <MatDialogTitle>Get this party started?</MatDialogTitle>
            <MatDialogContent>
                Turn up the jams and have a good time.
            </MatDialogContent>
            <MatDialogActions>
                <MatButton>Decline</MatButton>
                <MatButton>Accept</MatButton>
            </MatDialogActions>
        </MatDialog>

        @functions
        {
            bool dialogIsOpen = false;

            void ButtonClick()
            {
                dialogIsOpen = true;
                this.StateHasChanged();
            }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>
