<h1>MatChip</h1>

<p>
    <h5>MatChipSet</h5>

    <DemoContainer>
        <Content>
            <MatChipSet>
                <MatChip Label="Label"></MatChip>
                <MatChip Label="LeadingIcon" LeadingIcon="favorite"></MatChip>
                <MatChip Label="TrailingIcon" TrailingIcon="favorite"></MatChip>

            </MatChipSet>
        </Content>
        <SourceContent>
        	<BlazorFiddle Template="MatBlazor" Code=@(@"
            <MatChipSet>
                <MatChip Label=""Label""></MatChip>
                <MatChip Label=""LeadingIcon"" LeadingIcon=""favorite""></MatChip>
                <MatChip Label=""TrailingIcon"" TrailingIcon=""favorite""></MatChip>

            </MatChipSet>
        ")></BlazorFiddle>
        </SourceContent>
</DemoContainer>
</p>