<h1>MatDivider</h1>
<DemoContainer>
    <Content>
        <h3>Simple</h3>

        <div>Item 1</div>
        <MatDivider></MatDivider>
        <div>Item 2</div>
        <MatDivider></MatDivider>
        <div>Item 3</div>

        <h3>Inset</h3>

        <div>Item 1</div>
        <MatDivider Inset="true"></MatDivider>
        <div>Item 2</div>
        <MatDivider Inset="true"></MatDivider>
        <div>Item 3</div>

        <h3>Padded</h3>

        <div>Item 1</div>
        <MatDivider Padded="true"></MatDivider>
        <div>Item 2</div>
        <MatDivider Padded="true"></MatDivider>
        <div>Item 3</div>
    </Content>
    <SourceContent>
    	
    </SourceContent>
</DemoContainer>