<h3 class="mat-h3">MatAppBar</h3>

<p class="mat-body1">
    MatAppBar are a container for items such as application title, navigation icon, and action items.
</p>

<h5 class="mat-h5">Example</h5>

<DemoContainer SourcePath=".\..\..\MatBlazor.Demo.App\Frames\MatAppBarPageFrame.cshtml">
    <Content>
        <iframe src="MatAppBarFrame" style="width: 100%; height: 50%;"></iframe>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"@page ""/MatAppBarFrame""
@inject IJSRuntime JsRuntime
@using MatBlazor.Components.MatAppBar
@using Microsoft.AspNetCore.Components
@addTagHelper *,MatBlazor
@addTagHelper *,MatBlazor.Demo


<MatAppBar Fixed=""true"">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatIconButton Icon=""menu""></MatIconButton>
            <MatAppBarTitle>MatBlazor - Material Design components for Blazor</MatAppBarTitle>
        </MatAppBarSection>
        <MatAppBarSection Align=""MatAppBarSectionAlign.End"">
            <MatIconButton Icon=""favorite"" OnClick=""@RunOnClick""></MatIconButton>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

@functions
{
    void RunOnClick(UIMouseEventArgs e)
    {
        JsRuntime.InvokeAsync<object>(""window.alert"", ""Test"");
    }
}")></BlazorFiddle>
    </SourceContent>
</DemoContainer>




