@using Microsoft.AspNetCore.Components
<h3 class="mat-h3">MatTooltip</h3>

<p class="mat-body1">
    The  Material tooltip provides a text label that is displayed when the user hovers an element.
</p>

<h5 class="mat-h5">Example</h5>

<MatTooltip>
    <h1>Test tooltip content</h1>
</MatTooltip>

@functions
{
    BaseMatButton buttonRef;

    protected void Click1()
    {
        this.StateHasChanged();
    }
}