<DocMatMenu></DocMatMenu>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label="Menu" OnClick="@OnClick" ref="Button"></MatButton>
            <MatMenu ref="Menu">
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @functions
        {
            BaseMatButton Button;
            BaseMatMenu Menu;

            public void OnClick(UIMouseEventArgs e)
            {
                this.Menu.OpenAsync(Button.Ref);
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        @using Microsoft.AspNetCore.Components

        <p>
            <MatButton Label=""Menu"" OnClick=""@OnClick"" ref=""Button""></MatButton>
            <MatMenu ref=""Menu"">
                <MatList>
                    <MatListItem>Item 1</MatListItem>
                    <MatListItem>Item 2</MatListItem>
                    <MatListItem>Item 3</MatListItem>
                    <MatListItem>Item 4</MatListItem>
                    <MatListItem>Item 5</MatListItem>
                </MatList>
            </MatMenu>
        </p>

        @functions
        {
            BaseMatButton Button;
            BaseMatMenu Menu;

            public void OnClick(UIMouseEventArgs e)
            {
                this.Menu.OpenAsync(Button.Ref);
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>