<h3 class="mat-h3">Typography</h3>

<p class="mat-body1">Roboto is the standard typeface on Android and Chrome.</p>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <div class="mat">Sets the font to Roboto</div>
        <h1 class="mat-h1">Sets font properties as Headline 1</h1>
        <h2 class="mat-h2">Sets font properties as Headline 2</h2>
        <h3 class="mat-h3">Sets font properties as Headline 3</h3>
        <h4 class="mat-h4">Sets font properties as Headline 4</h4>
        <h5 class="mat-h5">Sets font properties as Headline 5</h5>
        <h6 class="mat-h6">Sets font properties as Headline 6</h6>
        <div class="mat-subtitle1">Sets font properties as Subtitle 1</div>
        <div class="mat-subtitle2">Sets font properties as Subtitle 2</div>
        <div class="mat-body1">Sets font properties as Body 1</div>
        <div class="mat-body2">Sets font properties as Body 2</div>
        <div class="mat-caption">Sets font properties as Caption</div>
        <div class="mat-button">Sets font properties as Button</div>
        <div class="mat-overline">Sets font properties as Overline</div>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <div class=""mat"">Sets the font to Roboto</div>
        <h1 class=""mat-h1"">Sets font properties as Headline 1</h1>
        <h2 class=""mat-h2"">Sets font properties as Headline 2</h2>
        <h3 class=""mat-h3"">Sets font properties as Headline 3</h3>
        <h4 class=""mat-h4"">Sets font properties as Headline 4</h4>
        <h5 class=""mat-h5"">Sets font properties as Headline 5</h5>
        <h6 class=""mat-h6"">Sets font properties as Headline 6</h6>
        <div class=""mat-subtitle1"">Sets font properties as Subtitle 1</div>
        <div class=""mat-subtitle2"">Sets font properties as Subtitle 2</div>
        <div class=""mat-body1"">Sets font properties as Body 1</div>
        <div class=""mat-body2"">Sets font properties as Body 2</div>
        <div class=""mat-caption"">Sets font properties as Caption</div>
        <div class=""mat-button"">Sets font properties as Button</div>
        <div class=""mat-overline"">Sets font properties as Overline</div>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>