<h3 class="mat-h3">MatCard</h3>

<p class="mat-body1">
    Cards contain content and actions about a single subject.
</p>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <MatCard>
            <h1>Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </MatCard>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatCard>
            <h1>Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </MatCard>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>