<h1>MatCard</h1>

<DemoContainer>
    <Content>
        <MatCard>
            <h1>Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </MatCard>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatCard>
            <h1>Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </MatCard>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>