<DocMatDatePicker></DocMatDatePicker>


<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>
     
        <MatDatePicker></MatDatePicker>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
     

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

