@using MatBlazor.Components.MatButton
@addTagHelper *,MatBlazor

<h1>MatAppBar</h1>

<h3>Button types</h3>
<DemoContainer>
    <Content>
        <MatAppBar></MatAppBar>
    </Content>
    <SourceContent>
    </SourceContent>
</DemoContainer>

