@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/BlazorComponents/MatBlazor" target="_blank" class="ml-md-auto">Git</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
