@inherits Microsoft.AspNetCore.Components.Layouts.LayoutComponentBase
@using MatBlazor.Components.MatAppBar
@addTagHelper *,MatBlazor


<MatBlazorInstall/>

<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <NavMenu/>
    <MatDrawerContent>
        <MatAppBar Fixed="false">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu"></MatIconButton>
                    <MatAppBarTitle>MatBlazor - Material Design components for Blazor</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton Link="http://samprof.com" Target="_blank" Title="Author SamProf">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </MatIconButton>
                    <MatIconButton Link="https://github.com/BlazorComponents/MatBlazor" Title="MatBlazor GitHub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </MatIconButton>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>


        <div class="mdc-top-app-bar--fixed-adjust"></div>
        @Body


    </MatDrawerContent>

</MatDrawerContainer>


@functions {
}