<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MatBlazor.Demo</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>


        <li class="nav-item px-3" style="color: white;">
            <b>Form Controls</b>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatCheckbox">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatCheckbox
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatTextField">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatTextField
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatRadioButton">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatRadioButton
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatSelect">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatSelect
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatSlider">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatSlider
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatSlideToggle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatSlideToggle
            </NavLink>
        </li>

        <li class="nav-item px-3" style="color: white;">
            <b>Navigation</b>
        </li>
        <li class="nav-item px-3" style="color: white;">
            <b>Layout</b>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatCard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatCard
            </NavLink>
        </li>


        <li class="nav-item px-3" style="color: white;">
            <b>Buttons & Indicators</b>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatButton">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatButton
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatChip">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatChip
            </NavLink>
        </li>


        <li class="nav-item px-3" style="color: white;">
            <b>Popups & Modals</b>
        </li>

        @* <li class="nav-item px-3" style="color: white;"> *@
        @*     <b>Data table</b> *@
        @* </li> *@


    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}