@using MatBlazor.Models
@using Microsoft.AspNetCore.Components.Routing
<MatDrawer>


    <MatListGroup>

        <MatList SingleSelection="true">
            <MatListItem>
                <NavLink href="" Match=@NavLinkMatch.All>
                    <MatIcon Icon="@MatIconNames.Home"></MatIcon> Home
                </NavLink>
            </MatListItem>
        </MatList>

        <MatDivider></MatDivider>

        <MatListGroupSubHeader>
            Form Controls
        </MatListGroupSubHeader>

        <MatList SingleSelection="true">
            <MatListItem>
                <NavLink class="nav-link" href="MatCheckbox">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatCheckbox
                </NavLink>
            </MatListItem>
            <MatListItem>
                <NavLink class="nav-link" href="MatTextField">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatTextField
                </NavLink>
            </MatListItem>
            <MatListItem>
                <NavLink class="nav-link" href="MatRadioButton">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatRadioButton
                </NavLink>
            </MatListItem>
            <MatListItem>
                <NavLink class="nav-link" href="MatSelect">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatSelect
                </NavLink>
            </MatListItem>

            <MatListItem>

                <NavLink class="nav-link" href="MatSlider">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatSlider
                </NavLink>

            </MatListItem>
            <MatListItem>
                <NavLink class="nav-link" href="MatSlideToggle">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> MatSlideToggle
                </NavLink>
            </MatListItem>
        </MatList>
    </MatListGroup>

    <MatDivider></MatDivider>
    <MatListGroupSubHeader>
        Navigation
    </MatListGroupSubHeader>

    <MatList>
        <MatListItem>
            <NavLink class="nav-link" href="MatAppBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatAppBar
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatMenu
            </NavLink>
        </MatListItem>
    </MatList>

    <MatDivider></MatDivider>
    <MatListGroupSubHeader>
        Layout
    </MatListGroupSubHeader>

    <MatList>
        <MatListItem>
            <NavLink class="nav-link" href="MatCard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatCard
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatDivider">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatDivider
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatList
            </NavLink>
        </MatListItem>
    </MatList>

    <MatDivider></MatDivider>
    <MatListGroupSubHeader>
        Buttons & Indicators
    </MatListGroupSubHeader>

    <MatList>
        <MatListItem>
            <NavLink class="nav-link" href="MatButton">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatButton
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatIconButton">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatIconButton
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatIcon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatIcon
            </NavLink>
        </MatListItem>
        <MatListItem>
            <NavLink class="nav-link" href="MatChip">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MatChip
            </NavLink>
        </MatListItem>
    </MatList>
</MatDrawer>