<p>
    <h2>News</h2>

    <h5>16.11.2018 - <span class="badge badge-primary">MatBlazor 0.4.3</span></h5>
    <p>
        <ul>
            <li>Upgrade to Blazor 0.7.0</li>
            <li>MatDrawer in progress</li>
        </ul>
    </p>
</p>