@using Microsoft.AspNetCore.Components
<p>

    <h2>News</h2>
    
    
    <h5><span class="badge badge-primary">MatBlazor 0.6.3</span></h5>
    <p>
        <ul>
            <li>New <a href="MatDrawer">MatDrawer</a></li>
            <li>Fix <a href="MatAppBar">MatAppBar</a> (fixed-adjust div)</li>
        </ul>
    </p>
    
    <h5><span class="badge badge-primary">MatBlazor 0.6.2</span></h5>
    <p>
        <ul>
            <li>Added Style Parameter for all components</li>
            <li>Added <a href="BaseMatComponent">BaseMatComponent</a> Docs</li>
            <li>MatDrawer in progress</li>
        </ul>
    </p>

    <h5><span class="badge badge-primary">MatBlazor 0.6.1</span></h5>
<p>
    <ul>
        <li>Introduce Razor Components support (MatBlazorInstall component)</li>
    </ul>
</p>

<h5><span class="badge badge-primary">MatBlazor 0.6.0</span></h5>
<p>
    <ul>
        <li>Upgrade Blazor 0.9 complete</li>
        <li>Upgrade to new Material Components</li>
        <li>MatTextField Outlined fixed</li>
        <li>MatRadioGroup and MatRadioButton enhancements</li>
        <li>MatSelect Outlined fixed</li>
        <li>MatSlider Step problem founded</li>
        <li>Fixed main page of the demo project MatDrawer</li>
        <li>MatMenu (prepared for development in next release)</li>
        <li>MatDrawer (prepared for development in next release)</li>
        <li>BlazorFiddle integration fixed</li>
    </ul>
</p>
<h5><span class="badge badge-primary">MatBlazor 0.5.0</span></h5>
<p>
    <ul>
        <li>Upgrade to Blazor 0.9.0 (Part 1)</li>
    </ul>
</p>
<h5><span class="badge badge-primary">MatBlazor 0.4.5</span> <span style="font-size: small">(Minor)</span></h5>
<p>
    <ul>
        <li>TrailingIcon in MatButton</li>
    </ul>
</p>
<h5><span class="badge badge-primary">MatBlazor 0.4.4</span></h5>
<p>
    <ul>
        <li>Added integration with <a href="http://blazorfiddle.com/t/MatBlazor" target="_blank">BlazorFiddle.com</a></li>
        <li>MatIconButton - Href bacame Link</li>
    </ul>
</p>
<h5><span class="badge badge-primary">MatBlazor 0.4.3</span></h5>
<p>
    <ul>
        <li>Upgrade to Blazor 0.7.0</li>
        <li>MatDrawer in progress</li>
    </ul>
</p>
</p>