<p>
    <h2>News</h2>

    <h5>14.03.2019 - <span class="badge badge-primary">MatBlazor 0.5.0</span></h5>
    <p>
        <ul>
            <li>Upgrade to Blazor 0.9.0 (Part 1)</li>
        </ul>
    </p>
    <h5>02.12.2018 - <span class="badge badge-primary">MatBlazor 0.4.5</span> <span style="font-size: small">(Minor)</span></h5>
    <p>
        <ul>
            <li>TrailingIcon in MatButton</li>
        </ul>
    </p>
    <h5>28.11.2018 - <span class="badge badge-primary">MatBlazor 0.4.4</span></h5>
    <p>
        <ul>
            <li>Added integration with <a href="http://blazorfiddle.com/t/MatBlazor" target="_blank">BlazorFiddle.com</a></li>
            <li>MatIconButton - Href bacame Link</li>
        </ul>
    </p>
    <h5>16.11.2018 - <span class="badge badge-primary">MatBlazor 0.4.3</span></h5>
    <p>
        <ul>
            <li>Upgrade to Blazor 0.7.0</li>
            <li>MatDrawer in progress</li>
        </ul>
    </p>
</p>