<!-- THIS IS AUTO GENERATED FILE!!! -->

<h2>News</h2>
<h3>MatBlazor 0.6.11</h3>
<ul>
<li>Added MatProgressBar component</li>
</ul>
<h3>MatBlazor 0.6.10</h3>
<ul>
<li>Added Elevation</li>
<li>License of used packages added to js boundle</li>
</ul>
<h3>MatBlazor 0.6.9</h3>
<ul>
<li>Changed all events to EventCallback</li>
<li>Show Icons when MatTextField has FullWidth (enkodellc)</li>
</ul>
<h3>MatBlazor 0.6.8</h3>
<ul>
<li>Improved events for MatTextField (sandrohanea + SamProf)</li>
</ul>
<h3>MatBlazor 0.6.7</h3>
<ul>
<li>Added Typography styles</li>
</ul>
<h3>MatBlazor 0.6.6</h3>
<ul>
<li>Added Href parameter to MatListItem component</li>
</ul>
<h3>MatBlazor 0.6.5</h3>
<ul>
<li>MatTextField - fixed label</li>
</ul>
<h3>MatBlazor 0.6.4</h3>
<ul>
<li>MatMenu - first working implementation</li>
</ul>
<h3>MatBlazor 0.6.3</h3>
<ul>
<li>New MatDrawer</li>
<li>Fix MatAppBar (fixed-adjust div)</li>
</ul>
<h3>MatBlazor 0.6.2</h3>
<ul>
<li>Added Style Parameter for all components</li>
<li>Added BaseMatComponent Docs</li>
<li>MatDrawer in progress</li>
</ul>
<h3>MatBlazor 0.6.1</h3>
<ul>
<li>Introduce Razor Components support (MatBlazorInstall component)</li>
</ul>
<h3>MatBlazor 0.6.0</h3>
<ul>
<li>Upgrade Blazor 0.9 complete</li>
<li>Upgrade to new Material Components</li>
<li>MatTextField Outlined fixed</li>
<li>MatRadioGroup and MatRadioButton enhancements</li>
<li>MatSelect Outlined fixed</li>
<li>MatSlider Step problem founded</li>
<li>Fixed main page of the demo project MatDrawer</li>
<li>MatMenu (prepared for development in next release)</li>
<li>MatDrawer (prepared for development in next release)</li>
<li>BlazorFiddle integration fixed</li>
</ul>
<h3>MatBlazor 0.5.0</h3>
<ul>
<li>Upgrade to Blazor 0.9.0 (Part 1)</li>
</ul>
<h3>MatBlazor 0.4.5 (Minor)</h3>
<ul>
<li>TrailingIcon in MatButton</li>
</ul>
<h3>MatBlazor 0.4.4</h3>
<ul>
<li>Added integration with BlazorFiddle.com</li>
<li>MatIconButton - Href bacame Link</li>
</ul>
<h3>MatBlazor 0.4.3</h3>
<ul>
<li>Upgrade to Blazor 0.7.0</li>
<li>MatDrawer in progress</li>
</ul>
