@using MatBlazor.Components.MatButton
@addTagHelper *,MatBlazor

<h1>MatChip</h1>

<p>
    <h5>MatChipSet</h5>
    <MatChipSet>
        <MatChip Label="Label"></MatChip>
        <MatChip Label="LeadingIcon" LeadingIcon="favorite"></MatChip>
        <MatChip Label="TrailingIcon" TrailingIcon="favorite"></MatChip>
    </MatChipSet>
</p>
