@using MatBlazor.Components.MatButton
@addTagHelper *,MatBlazor

<h1>MatTextField</h1>

<p>
    <h4>Simple</h4>
    <MatTextField Value="Test"></MatTextField>
</p>

<p>
    <h4>Label</h4>
    <MatTextField Label="Test Label" Value="Test"></MatTextField>
</p>

<p>
    <h4>PlaceHolder</h4>
    <MatTextField PlaceHolder="Test PlaceHolder"></MatTextField>
</p>


<p>
    <h4>Required</h4>
    <MatTextField Required="true" Value="Test"></MatTextField>
</p>


<p>
    <h4>FullWidth</h4>
    <MatTextField FullWidth="true" Value="Test"></MatTextField>
</p>


<p>
    <h4>Disabled</h4>
    <MatTextField Disabled="true" Value="Test"></MatTextField>
</p>

<p>
    <h4>Outlined</h4>
    <MatTextField Outlined="true" Value="Test"></MatTextField>
</p>

<p>
    <h4>Icon</h4>
    <MatTextField Icon="favorite" Value="Test"></MatTextField>
</p>