@using MatBlazor.Components.MatButton
@addTagHelper *,MatBlazor

<h1>MatSelect</h1>

<p>
    <h4>Normal</h4>
    <MatSelect Label="Pick a Food Group" bind-Value="@Val">
        <MatOption Value=""></MatOption>
        <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
        <MatOption Value="vegetables">Vegetables</MatOption>
        <MatOption Value="fruit">Fruit</MatOption>
    </MatSelect>
</p>

<p>
    <h4>Outlined</h4>
    <MatSelect Label="Pick a Food Group" Outlined="true">
        <MatOption Value=""></MatOption>
        <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
        <MatOption Value="vegetables">Vegetables</MatOption>
        <MatOption Value="fruit">Fruit</MatOption>
    </MatSelect>
</p>

<p>
    <h4>Disabled</h4>
    <MatSelect Label="Pick a Food Group" Disabled="true">
        <MatOption Value=""></MatOption>
        <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
        <MatOption Value="vegetables">Vegetables</MatOption>
        <MatOption Value="fruit">Fruit</MatOption>
    </MatSelect>
</p>

<p>
    <h4>Disabled Option</h4>
    <MatSelect Label="Pick a Food Group">
        <MatOption Value=""></MatOption>
        <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
        <MatOption Value="vegetables" Disabled="true">Vegetables</MatOption>
        <MatOption Value="fruit">Fruit</MatOption>
    </MatSelect>
</p>



@functions
{

    public string Val
    {
        get => _val;
        set
        {
            _val = value;
            this.StateHasChanged();
        }
    }

    private string _val = "";
}