@using MatBlazor.Components.MatButton
@addTagHelper *,MatBlazor

<h1>MatChip</h1>

<p>
    <MatChip Label="Label"></MatChip>
</p>
<p>
    <MatChip Label="LeadingIcon" LeadingIcon="favorite"></MatChip>
</p>
<p>
    <MatChip Label="TrailingIcon" TrailingIcon="favorite"></MatChip>
</p>