@using Microsoft.AspNetCore.Components
@inherits BaseMatAppBar


<header class="@ClassMapper.Class" ref="Ref" style="@Style">
    @ChildContent
</header>

<div class="mdc-top-app-bar--fixed-adjust"></div>



@functions
{

    [Parameter]
    private RenderFragment ChildContent { get; set; }

}