@namespace MatBlazor
@inherits BaseMatDomComponent
@* mdc-top-app-bar__navigation-icon *@
<a class="@ClassMapper.AsString() material-icons mdc-top-app-bar__navigation-icon" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id" @onclick="OnClickHandler">menu</a>