@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent
@* mdc-top-app-bar__navigation-icon *@
<a class="@ClassMapper.AsString() material-icons mdc-top-app-bar__navigation-icon" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id" @onclick="OnClickHandler">menu</a>

@code
{

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }


    

    void OnClickHandler(MouseEventArgs e)
    {
        OnClick.InvokeAsync(e);
    }

}