@namespace MatBlazor
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString() mdc-top-app-bar__row" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
    @ChildContent
</div>