@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class" style="@Style" @ref="Ref" @attributes="Attributes" Id="@Id">
    @ChildContent
</div>

@functions
{

    [Parameter]
    private RenderFragment ChildContent { get; set; }

}