@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent
<span  class="@ClassMapper.Class mdc-top-app-bar__title" style="@Style" @ref="Ref" @attributes="Attributes" Id="@Id">
    @ChildContent
</span>


@functions
{

    [Parameter]
    private RenderFragment ChildContent { get; set; }

}