@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class mdc-top-app-bar--fixed-adjust" @ref ="Ref" style="@(Style) width: 100%; height: 100%; box-sizing: border-box;" @attributes="Attributes" Id="@Id">
    @ChildContent
</div>

@functions
{

    [Parameter]
    private RenderFragment ChildContent { get; set; }


    

}