@namespace MatBlazor
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString() mdc-top-app-bar--fixed-adjust" style="@Style" @ref="Ref"  @attributes="Attributes" Id="@Id"></div>


@code
{

    

}