<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Path" value="../../../"/>
    <add key="DemoContainerTag" value="DemoContainer"/>
    <add key="ContentTag" value="Content"/>
    <add key="SourceContentTag" value="SourceContent"/>
    <add key="FileMask" value="*.cshtml"/>
  </appSettings>
</configuration>
