@using MatBlazor.Demo.Components;

<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="b5tpBm_UuXTuO3p8LX3juSZvjRB147_B5_FduGXt-ZU" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>MatBlazor - Material Design components for Blazor</title>
    <base href="~/" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/SamProf/MatBlazor/master/content/favicon-32x32.png">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138065618-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());

        gtag('config', 'UA-138065618-1');
    </script>


    <link href="_content/MatBlazor.Demo/site.css" rel="stylesheet" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
    <script src="_content/MatBlazor.Demo/matBlazorDemo.js"></script>
    <script src="_content/MatBlazor.Demo/blazorFiddleLoader.js"></script>
    <script data-ad-client="ca-pub-3904134905954949" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body class="mat">
    <app style="display: flex;">
        @RenderBody()
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>