@namespace MatBlazor
@using Microsoft.AspNetCore.Components
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class" @ref="Ref" style="@Style" @onclick="OnClickHandler" @attributes="Attributes" Id="@Id">
    @ChildContent
    <span class="after material-icon mdc-sub-menu-icon">&#58131;</span>
</div>

@functions
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public BaseMatNavSubMenu NavSubMenu { get; set; }

    protected override void OnInit()
    {
        base.OnInit();
        ClassMapper.Add("mat-expansion-panel__summary").Add("mdc-ripple-surface");
        CallAfterRender(async () => { await Js.InvokeAsync<object>("matBlazor.matAccordion.initSummary", Ref); });
    }

    protected async void OnClickHandler(UIMouseEventArgs e)
    {
        this.NavSubMenu.ToggleAsync();
    }
}