@namespace MatBlazor
@inherits BaseMatNavSubMenu

<CascadingValue Value="@this">
    <li class="@ClassMapper.AsString()" style="@Style" @ref="Ref"  @attributes="Attributes" Id="@Id">        
        @ChildContent
    </li>
</CascadingValue>