@namespace MatBlazor
@inherits BaseMatNavItem

<CascadingValue Value="@this">
    <li class="@ClassMapper.Class" @onmousedown="OnMouseDown" @onclick="OnClickHandler" style="@Style" @ref="Ref" @attributes="Attributes" Id="@Id">
        @ChildContent
    </li>    
</CascadingValue>
