@inherits BaseMatTextField

<div class="@ClassNames">
    @* ${!fullWidth && icon ? html`<i class="material-icons mdc-text-field__icon" tabindex="0">${icon}</i>` : ''} *@
    @* ${this._renderInput({value, required, type, placeHolder, label})} *@
    @* ${!fullWidth && label ? html`<label class="mdc-floating-label ${value ? 'mdc-floating-label--float-above' : ''}" for="text-field">${label}</label>` : ''} *@
    @* ${!fullWidth && outlined ? html`<div class="mdc-notched-outline"> *@
    @*     <svg><path class="mdc-notched-outline__path"/></svg> *@
    @* </div> *@
    @* <div class="mdc-notched-outline__idle"></div>` : *@
    @* html`<div class="mdc-line-ripple"></div>`} *@
</div>
@* ${helperText ? html`<p class="mdc-text-field-helper-text" aria-hidden="true">${helperText}</p>` : ''} *@