<MatToastContainer />

<MatThemeProvider Theme="@theme">
    <Router AppAssembly=typeof(MatBlazor.Demo.Pages.Index).Assembly>
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MatBlazor.Demo.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
            <p>Sorry, but there's nothing here!</p>
        </NotFound>
    </Router>
</MatThemeProvider>


@code
{

    MatTheme theme = new MatTheme()
    {
        Primary = "#1976D2",
        Secondary = "#9C27B0",
        Background = "#303030",
        Surface = "#333333",
        OnPrimary = "#fff",
        OnSecondary = "#201317",
        OnSurface = "#fff"
    };

}