@namespace MatBlazor
@typeparam TItem
@inherits BaseMatDataTable<TItem>

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id @attributes="@Attributes">
    <table class="mdc-data-table__table">
        @ChildContent
    </table>
</div>