@* THIS IS AUTO GENERATED FILE!!! *@

<h2 class="mat-h2">News</h2>
<h3 class="mat-h3">Roadmap</h3>
<ul>
<li><code>MatVirtualScroll</code> - complete new component</li>
<li><code>MatDataTable</code> - complete new component</li>
<li><code>MatDatePicker</code> - improvements</li>
<li><code>MatTreeView</code> - complete new component</li>
<li><code>MatAutocomplete</code> - new implementation of component</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.7.0</h4>
<ul>
<li>Update MDC Web to 7.0.0 (SamProf)</li>
<li>Changed DOM and JS for many components, because of changes in MDC Web 7.0.0 (SamProf)</li>
<li>Fixed: Floating label in Outlined MatTextField-based components (SamProf)</li>
<li>Fixed Validation via EditContext colors (SamProf)</li>
<li>PR: Add Width property for Drawer #666 (Thanks to <a href="https://github.com/redradist">redradist</a>)</li>
<li>PR: MatSelect: FullWidth parameter #670 (Thanks to <a href="https://github.com/stefanloerwald">stefanloerwald</a>)</li>
<li>PR: Cleanup #673 (Thanks to <a href="https://github.com/stefanloerwald">stefanloerwald</a>)</li>
<li>PR: Table Re-Rendering Fix #692 (Thanks to <a href="https://github.com/erlendp">erlendp</a>)</li>
<li>PR: Custom Drawer Width Demo. Readme contribution updates #701</li>
<li>PR: Fix part of issue with FullWidth MatTextField and Placeholder #677 (Thanks to <a href="https://github.com/stefanloerwald">stefanloerwald</a>)</li>
<li>PR: Responsive menu on Demo page, icons change to menu on smaller screens. #684 (Thanks to <a href="https://github.com/PA4WD">PA4WD</a>)</li>
<li>PR: Spaces in folder name's break DemoContentGenerator.Generate() #685 (Thanks to <a href="https://github.com/PA4WD">PA4WD</a>)</li>
<li>PR: Some language improvements #686 (Thanks to <a href="https://github.com/PA4WD">PA4WD</a>)</li>
<li>PR: Fixes #619 Validation styles for outlined Text fields #702 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Remove event on Dispose instead of adding one #703 (Thanks to <a href="https://github.com/LeoVen">LeoVen</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.6.3</h4>
<ul>
<li>PR: Simplify deploying js/css #657 (Thanks to <a href="https://github.com/stefanloerwald">stefanloerwald</a>)</li>
<li>PR: Update README.md (Mentioned that internet access is required in Prerequisites) #610 (Thanks to <a href="https://github.com/rokx">rokx</a>)</li>
<li>PR: Checkbox indeterminate state fixes #664 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: MatSlider Immediate #665 (Thanks to <a href="https://github.com/stefanloerwald">stefanloerwald</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.6.2</h4>
<ul>
<li>PR: Update Slider to Add Pin &amp; Markers #639 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: MatTable double click #629 (Thanks to <a href="https://github.com/sebestyn168">sebestyn168</a>)</li>
<li>PR: Fix MatAutocomplete fails with tab and google autofill #614 (Thanks to <a href="https://github.com/sebestyn168">sebestyn168</a>)</li>
<li>PR: Update MatSlider for Pin and Markers (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: MatSelect - Adding support for GUID / GUID? #634 (Thanks to <a href="https://github.com/softwaretirol">softwaretirol</a>)</li>
<li>PR: Toast theme fixes, fixes #604 #612 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: Added issue template for feature request and question, updated bug te… #608 (Thanks to <a href="https://github.com/SeppPenner">SeppPenner</a>)</li>
<li>PR: Added mouse over texts for MatNavMenu components, adjusted examples. #606 (Thanks to <a href="https://github.com/SeppPenner">SeppPenner</a>)</li>
<li>PR: MatBlazor.com redesign #603 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: MatChip / MatChipSet: implemented exclusive and non-exclusive selection #601 (Thanks to <a href="https://github.com/henon">henon</a>)</li>
<li>PR: Bugfix for pagecounter in MatTable #561 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: Fix typo in MatSelect demos #563 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: Bugfix/fix doc spelling errors #565 (Thanks to <a href="https://github.com/CSOleson">CSOleson</a>)</li>
<li>PR: MatSnackbar - Timeout parameter and Updated documentation #596 and #600 (Thanks to <a href="https://github.com/henon">henon</a>)</li>
<li>PR: Add more specific css selector for transforming the floating label #599 (Thanks to <a href="https://github.com/dbereghici">dbereghici</a>)</li>
<li>PR: MatHelperText Created #569 (Thanks to <a href="https://github.com/EduVencovsky">EduVencovsky</a>)</li>
<li>PR: Added ForceLoad option for MatButton and MatIconButton (Fixes #330) #570 (Thanks to <a href="https://github.com/Garderoben">Garderoben</a> and <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Added LazyRendering for MatExpansionPanel + bug fix #578 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.6.0</h4>
<ul>
<li>Update to Latest Microsoft.AspNetCore.Components 3.1.4 and Microsoft.AspNetCore.Components.WebAssembly 3.2.0</li>
<li>Update MDC-Web components to 6.0.0</li>
<li>MDC 6.0.0 updates for TextField #538 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>Target for MatButton / MatIconButton #539 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Fixed multiple Autocomplete Issues #548 (Thanks to <a href="https://github.com/sandrohanea">sandrohanea</a>)</li>
<li>PR: Can't select item in MatAutocompleteList #546 (Thanks to <a href="https://github.com/sandrohanea">sandrohanea</a>)</li>
<li>Fix MatMenu AnchorElement bug</li>
<li>Fix MatTextField inside Dialog</li>
<li>PR: Added Primary Color to MatSelect Label #522 (Thanks to <a href="https://github.com/EduVencovsky">EduVencovsky</a>)</li>
<li>PR: Added documentation for SlideToggle value changed event. #530 (Thanks to <a href="https://github.com/SeppPenner">SeppPenner</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.4.3</h4>
<ul>
<li><code>MatVirtualScroll</code> - New component-</li>
<li>Added label color to theme primary color #488 (Thanks to <a href="https://github.com/EduVencovsky">EduVencovsky</a>)</li>
<li>Correct padding for MatTextField with leading icon #483 (Thanks to <a href="https://github.com/EduVencovsky">EduVencovsky</a>)</li>
<li>PR: Added, return item object from selected row event. #511 (Thanks to <a href="https://github.com/UrizielTSD">UrizielTSD</a>)</li>
<li>PR: Added ability to close MatMenu programmatically. #504  (Thanks to <a href="https://github.com/IKingJohnI">IKingJohnI</a>)</li>
<li>PR: Use height instead of max-height in mat-expansion-panel base/expanded #484 (Thanks to <a href="https://github.com/esso23">esso23</a>)</li>
<li>PR: Remove node-sass and add temporary workaround for sass-loader. #481 (Thanks to <a href="https://github.com/esso23">esso23</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.3.0</h4>
<ul>
<li>PR: Add implementations for nullable primitive types: <code>sbyte?</code>, <code>byte?</code>, <code>short?</code>, <code>ushort?</code>, <code>int?</code>, <code>uint?</code>, <code>long?</code>, <code>ulong?</code>, <code>char?</code>, <code>float?</code>, <code>double?</code> #449 (Thanks to <a href="https://github.com/fire-birdie">fire-birdie</a>)</li>
<li>MatNumericUpDownField - Added FieldType parameter with Numeric, Currency, and Percent types #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: MatDatePicker - Do not display the time in the text field by default. Respect the Format and EnableTime parameters. #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: MatDatePicker - Fixed Minimum and Maximum implementation by comparing only dates if EnableTime is false, and comparing dates and times if EnableTime is true #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: Added ability to hide toggle button in MatAccordion / MatExpansionpanel #446 (Thanks to <a href="https://github.com/lindespang">lindespang</a>)</li>
<li>PR: Add Parameter to MatNavItem to allow user to set the NavLinkMatch #456 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Add Id and Attributes to <code>MatSelect</code> #454 (Thanks to <a href="https://github.com/hailstorm75">hailstorm75</a>)</li>
<li>PR: MatIconButton - Added OnClickStopPropagation #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: MatButton - Added OnClickStopPropagation #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: MatDatePicker - Fixed the labeling of the DisableMobile Demo #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
<li>PR: ToolTip Fix #450 (Thanks to <a href="https://github.com/EduVencovsky">EduVencovsky</a>)</li>
<li>PR: package.json - Fixed invalid structure and updated some packages to address some of the vulnerabilities identified in audit #462 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.2.0</h4>
<ul>
<li>.NET Core 3.1.2 + .NET Core 3.2.0-Preview 1 Releases</li>
<li><code>MatSortHeader</code>, <code>MatSortHeaderRow</code> - New component</li>
<li>Fix: MatDatePicker always display's current month/year #431</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.1.2</h4>
<ul>
<li><code>MatPaginator</code> - New component</li>
<li>Fix: Impelement custom <code>hoistMenuToBody</code> for MatSelect and MatMenu - fix #415</li>
<li>Fix: Ripple effect for MatButton</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.1.1</h4>
<ul>
<li>MatSelect, MatSelectItem, MatSelectValue components supports EditContext</li>
<li>ValidationDisabled parameter added to input components</li>
<li>PR: Update MatBlazor Demo Menu #414 (Thanks to <a href="https://github.com/americanslon">americanslon</a>)</li>
<li>PR: Updated prerequisites #413 (Thanks to <a href="https://github.com/NPadrutt">NPadrutt</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.1.0</h4>
<ul>
<li>
<p>Breaking changes - Upgrade an existing project</p>
<ul>
<li>Add <code>&lt;link href=&quot;_content/MatBlazor/dist/matBlazor.css&quot; rel=&quot;stylesheet&quot; /&gt;</code> to html code</li>
<li>Update to <code>.NET Core 3.2 Preview 1</code> libraries</li>
</ul>
</li>
<li>
<p>PR: Update to .NET Core 3.2 Preview 1 #409 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</p>
</li>
<li>
<p>PR: Separation of CSS and JS resources #408 (Thanks to <a href="https://github.com/RonPeters">RonPeters</a>)</p>
</li>
<li>
<p>MatSelectItem<code>&lt;TValue&gt;</code></p>
<ul>
<li>Populate options using Items collections and optional <code>ItemTemplate</code></li>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li>Supported types: <strong>any</strong></li>
</ul>
</li>
<li>
<p>MatSelectValue<code>&lt;TItem, TValue&gt;</code></p>
<ul>
<li>Populate options using Items collections and optional <code>ItemTemplate</code> using <code>ValueSelector</code></li>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li>Supported types: <strong>any</strong></li>
</ul>
</li>
<li>
<p><code>MatFileUpload</code> - progress bar added, improoved performance</p>
</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.0.5</h4>
<ul>
<li><code>MatFileUpload</code> - inital version of component</li>
<li>Implemented: Add possibility of initial state of MatIconButton #401. Implemented <code>Toggled</code> parameter and <code>ToggledChanged</code>.</li>
<li>Fixed: Small bug with numeric up/down field #402. Overflow in numeric values.</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.0.1</h4>
<ul>
<li><code>MatSelect</code> was rewrited and prepared for <code>MatSelectItem</code> and <code>MatSelectValue</code>, supported only <code>Enhanced</code> mode, Disabled for <code>MatOption</code> is temporary not working</li>
<li>PR: Added MatTreeView #360 (Thanks to <a href="https://github.com/sprotty">sprotty</a>)</li>
<li>PR: Filtering on multiple columns #384 (Thanks to <a href="https://github.com/VDSYannick">VDSYannick</a>)</li>
<li>PR: Fix #393, Fix #319, MatNavItem still clickable when disabled=true. Add OnClick to MatNavItem #394 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Prevent circular overflow on MatNumericUpDownField #378 (Thanks to <a href="https://github.com/sebestyn168">sebestyn168</a>)</li>
<li>PR: Added @@key attribute to MatTable table row #361  (Thanks to <a href="https://github.com/plebnz">plebnz</a>)</li>
<li>PR: added @@key attribute to MatTab content #395 (Thanks to <a href="https://github.com/chris1411">chris1411</a>)</li>
<li>PR: Matlist selectedIndex default value set to -1 #354 (Thanks to <a href="https://github.com/radutomy">radutomy</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 2.0.0 (Reinvention MatBlazor Forms)</h4>
<ul>
<li>This release contain a lot of breaking changes, sorry for that.</li>
<li>The main goal of this release was to unify all components for forms, generic type support, reduction of dependence of JS, active use of OOP and the possibility of more active expansion in the future.</li>
<li>Update to .NET Core 3.1 Preview 4</li>
<li>MatAutocomplete
<ul>
<li><code>MatAutocomplete</code> renamed to <code>MatAutocompleteList</code></li>
<li><code>ItemType</code> renamed to <code>TItem</code></li>
<li><code>Collection</code> renamed to <code>Items</code></li>
<li>new <code>MatAutocomplete</code> component will be in 2.1.0</li>
</ul>
</li>
<li>MatCheckbox
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>bool</code>, <code>bool?</code></li>
<li>Indeterminate mode</li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li><code>Checked</code> renamed to <code>Value</code></li>
<li><code>CheckedChanged</code> renamed to <code>ValueChanged</code></li>
<li>Unmatched <code>Attributes</code> is appended to main component HtmlElement (not InputElement). Use <code>InputAttributes</code> instead.</li>
</ul>
</li>
<li>MatDatePicker
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>DateTime</code>, <code>DateTime?</code></li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li><code>DateFormat</code> renamed to <code>Format</code>, and this is <strong>full .NET formatting of DateTime</strong></li>
<li><code>Minimum</code>, <code>Maximum</code> paramneteres added</li>
<li><code>NoCalendar</code> renamed to <code>DisableCalendar</code></li>
<li><code>AltFormat</code>, <code>AltInputClass</code>, <code>Inline</code> removed</li>
</ul>
</li>
<li>MatNumericUpDownField
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>sbyte</code>, <code>byte</code>, <code>short</code>, <code>ushort</code>, <code>int</code>, <code>uint</code>, <code>long</code>, <code>ulong</code>, <code>char</code>, <code>float</code>, <code>double</code>, <code>decimal</code>, <code>decimal?</code></li>
<li>Supports Blazor validation using <code>EditContext</code></li>
</ul>
</li>
<li>MatRadioButton
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: any</li>
<li>Supports Blazor validation using <code>EditContext</code></li>
</ul>
</li>
<li>MatSelect
<ul>
<li>Populate options using <code>MatOption</code> component manually</li>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li>Supported types: <code>string</code>, <code>sbyte</code>, <code>byte</code>, <code>short</code>, <code>ushort</code>, <code>int</code>, <code>uint</code>, <code>long</code>, <code>ulong</code>, <code>char</code>, <code>float</code>, <code>double</code>, <code>decimal</code>, <code>decimal?</code>, <code>DateTime</code>, <code>DateTime?</code>, <code>bool</code>, <code>bool?</code></li>
<li>For string values - <strong><code>MatSelectString</code></strong>, <strong><code>MatOptionString</code></strong></li>
</ul>
</li>
<li>MatSlider
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>sbyte</code>, <code>byte</code>, <code>short</code>, <code>ushort</code>, <code>int</code>, <code>uint</code>, <code>long</code>, <code>ulong</code>, <code>char</code>, <code>float</code>, <code>double</code>, <code>decimal</code>, <code>decimal?</code></li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li>Added <code>Step</code> parameter</li>
</ul>
</li>
<li>MatSlideToggle
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>bool</code>, <code>bool?</code></li>
<li>Supports Blazor validation using <code>EditContext</code></li>
</ul>
</li>
<li>MatTextField, <strong>MatStringField</strong>
<ul>
<li>Generic type supports: <code>TValue</code> parameter should be defined if he is not inferred.</li>
<li>Supported types: <code>string</code>, <code>sbyte</code>, <code>byte</code>, <code>short</code>, <code>ushort</code>, <code>int</code>, <code>uint</code>, <code>long</code>, <code>ulong</code>, <code>char</code>, <code>float</code>, <code>double</code>, <code>decimal</code>, <code>decimal?</code>, <code>DateTime</code>, <code>DateTime?</code>, <code>bool</code>, <code>bool?</code></li>
<li>Supports Blazor validation using <code>EditContext</code></li>
<li>New component <code>MatStringField</code> - replacement old <code>MatTextField</code> - just for <code>string</code> values without generic <code>TValue</code> parameter.</li>
</ul>
</li>
<li><code>MatBlazorInstall</code> - removed</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.10.1</h4>
<ul>
<li>Update to .NET Core 3.1 Preview 1</li>
<li>Added an active index to the MatTabGroup and MatTabBar #289 (Thanks to <a href="https://github.com/chris1411">chris1411</a>)</li>
<li>Auto-Active MatNatItem #268 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>Fixed &quot;Items per Page&quot; #290 (Thanks to <a href="https://github.com/msitconsulting">msitconsulting</a>)</li>
<li>Update Readme.md (EmbeddedBlazorContent) #270 (Thanks to <a href="https://github.com/manuel3108">manuel3108</a>)</li>
<li>Update BlazorBoilerplate description #299 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.9.0</h4>
<ul>
<li>Update to .NET Core 3.0</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.8.0</h4>
<ul>
<li>Update to .NET Core 3.0 RC 1</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.7.4</h4>
<ul>
<li>Support arrow keys and Enter in Autocomplete #237 (Thanks to <a href="https://github.com/dga711">dga711</a>)</li>
<li>MatDialog: New CanBeClosed property #241 (Thanks to <a href="https://github.com/dga711">dga711</a>)</li>
<li>Fix: Enhanced MatSelect throws exception(#231) #242 (Thanks to <a href="https://github.com/aviezzi">aviezzi</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.7.2</h4>
<ul>
<li>PR: Add some padding to toasts #238 (Thanks to <a href="https://github.com/dga711">dga711</a>)</li>
<li>PR: AutoComplete list cleaner look #239 (Thanks to <a href="https://github.com/dga711">dga711</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.7.1</h4>
<ul>
<li>Change info in Nuget package</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.7.0</h4>
<ul>
<li>Update to .NET Core 3.0 Preview 9</li>
<li>PR: Return Toast instance on IMatToaster.Add method #228 (Thanks to <a href="https://github.com/Sebbstar">Sebbstar</a>)</li>
<li>PR: Replaced all @@functions by @@code. #233 (Thanks to <a href="https://github.com/SeppPenner">SeppPenner</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.6.4</h4>
<ul>
<li>Fix: MatAutocomplete StringValue clearing #216 (Thanks to <a href="https://github.com/lukblazewicz">lukblazewicz</a>)</li>
<li>Fix: MatSelect option list in enhanced mode showing example list #221 (Thanks to <a href="https://github.com/aviezzi">aviezzi</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.6.3</h4>
<ul>
<li>MatTable: Fix broken paginator when infinite items selected #202 (Thanks to <a href="https://github.com/dga711">dga711</a>)</li>
<li>MatDialog.IsOpenChanged now also fires on open #200 (Thanks to <a href="https://github.com/dga711">dga711</a></li>
</ul>
<h4 class="mat-h4">MatBlazor 1.6.2</h4>
<ul>
<li>Fixed: MatTooltip: Position inside <code>&lt;table&gt;</code> is off #195</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.6.1</h4>
<ul>
<li>Check ComponentContext.IsConnected for all Js-Invoke's
<ul>
<li>This should have solved the problem with the <code>RenderStaticComponentAsync</code>, but did not.</li>
<li>You should use <code>RenderComponentAsync</code>, also because in Preview 9 <code>RenderStaticComponentAsync</code> will be removed (<a href="https://github.com/aspnet/AspNetCore/issues/12245">https://github.com/aspnet/AspNetCore/issues/12245</a>).</li>
</ul>
</li>
<li>PR: Incorporate validation styling and improve EditContext demo #190 (Thanks to <a href="https://github.com/ebekker">ebekker</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.6.0</h4>
<ul>
<li>Update to .NET Core 3.0 Preview 8</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.5.4</h4>
<ul>
<li>Fix of EditContext for MatDatePicker</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.5.3</h4>
<ul>
<li>PR: Add flatpickr options to MatDatePicker #182 (Thanks to <a href="https://github.com/djinnet">djinnet</a>)</li>
<li>PR: Initial support for EditContext-based validation #178 (Thanks to <a href="https://github.com/ebekker">ebekker</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.5.2</h4>
<ul>
<li>PR: Adding example for nested sub menus and new &quot;toggle all&quot; feature #176 (Thanks to <a href="https://github.com/ebekker">ebekker</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.5.1</h4>
<ul>
<li>PR: Adding support for nested NavSubMenus #174 (Thanks to <a href="https://github.com/ebekker">ebekker</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.5.0</h4>
<ul>
<li>MatCard improvements</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.4.1</h4>
<ul>
<li>MatTypography improvements</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.4.0</h4>
<ul>
<li>New NavMenu - new component (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: NumericUpDown to preview7. Fix tabindex #161 (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
<li>PR: Outlined #162 (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.3.0</h4>
<ul>
<li>Update to .NET Core 3.0 Preview 7</li>
<li>All components supports @@Attributes and Id parameter</li>
<li>MatDatePicker parameters: Label, Dense, Outlined, Required, Disabled</li>
<li>PR: Fixed up the helper text functionality in MatTextField. #121 (Thanks to <a href="https://github.com/jorgy343">jorgy343</a>)</li>
<li>PR: MatSelect Updates #124 (Thanks to <a href="https://github.com/jorgy343">jorgy343</a>)</li>
<li>PR: Typo. Mode is hardcoded #128 (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
<li>PR: fix upper cases for linux env #130 (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
<li>PR: Improve Full Width Field Text Padding #131 (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
<li>PR: #89 MatTable Row Hover &amp; Select #135 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: MatTable style updates #112 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: MatListItem Disabled #111 (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Fixed a bug where Table would not re render after data changed. #110 (Thanks to <a href="https://github.com/Garderoben">Garderoben</a>)</li>
<li>Now we have <a href="https://samprof.github.io/MatBlazor/">MatBlazor - Documentation and demo website - Client Side Blazor</a></li>
<li>Fixed: Docs site looks to show bug for expansion panel #107</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.2.0</h4>
<ul>
<li>.NET Core 3.0.100-preview6-012264</li>
<li>MatToast (Thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>MatNumericUpDownField (Thanks to <a href="https://github.com/ctrl-alt-d">ctrl-alt-d</a>)</li>
<li>PR: MatTable bug where LoadData would throw exception when using Filter #101 (Thanks to <a href="https://github.com/Garderoben">Garderoben</a>)</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.1.1</h4>
<ul>
<li>Fixed Clicking on Icon in DatePicker doesn't show the calender selection window. #86</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.1.0</h4>
<ul>
<li>MatHidden</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.0.1</h4>
<ul>
<li>Material theme configuration #90</li>
</ul>
<h4 class="mat-h4">MatBlazor 1.0.0</h4>
<ul>
<li>MatAccordion, MatExpansionPanel</li>
<li>MatTooltip</li>
<li>ForwardRef concept</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.14</h4>
<ul>
<li>MatFAB - Floating Action Button</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.13</h4>
<ul>
<li>MatThemeProvider (Themes support)</li>
<li>MatAppBarContainer, MatAppBarContent</li>
<li>PR: MatNumericUpDownField #78 - early preview (ctrl-alt-d)</li>
<li>MatMenu fix (added class and style support)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.12</h4>
<ul>
<li>MatDatePicker (alpha)</li>
<li>MatTextField ReadOnly</li>
<li>MatTextField InputClass and InputStyle</li>
<li>MatButton Type, Name, Value #75</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.11</h4>
<ul>
<li>MatTabGroup and MatTab components</li>
<li>MatTabBar and MatTabLabel components</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.10</h4>
<ul>
<li>Update to ASP.NET Core 3.0.0-preview5-19227-01</li>
<li><a href="https://www.matblazor.com">https://www.matblazor.com</a> working as server-side Blazor on Linux server</li>
<li>Fix MatAutoComplete</li>
<li>Minor improvements and changes</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.9</h4>
<ul>
<li>Demo and documentation <a href="https://www.matblazor.com">https://www.matblazor.com</a> working as server-side Blazor</li>
<li><code>&lt;MatBlazorInstall /&gt;</code> for server-side Blazor is obsolete</li>
<li>For server-side Blazor used <a href="https://github.com/SamProf/EmbeddedBlazorContent">EmbeddedBlazorContent</a> <a href="https://www.nuget.org/packages/EmbeddedBlazorContent/"><img src="https://img.shields.io/nuget/v/EmbeddedBlazorContent.svg" alt="NuGet" /></a></li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.8</h4>
<ul>
<li>New github path: <a href="https://github.com/SamProf/MatBlazor">https://github.com/SamProf/MatBlazor</a></li>
<li>New gitter chat: <a href="https://gitter.im/MatBlazor/community">https://gitter.im/MatBlazor/community</a></li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.7</h4>
<ul>
<li>Fixed Drawer problem</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.6</h4>
<ul>
<li>All components in one namespace MatBlazor (only one using directive)</li>
<li>PR: Revert back to C# 7.3 #66 (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.5</h4>
<ul>
<li>Fixed problem with including *.razor files</li>
<li>PR: #63 MatBlazor Logo / .svg / .ico #65 (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.4</h4>
<ul>
<li>Now we have Logo (many thanks to <a href="https://github.com/enkodellc">enkodellc</a>)</li>
<li>PR: Prevent *.razor files from being packed #64 (IvanJosipovic)</li>
<li>Fixed Examples generation</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.3</h4>
<ul>
<li>Update to Blazor 3.0.0-preview4-19216-03</li>
<li>PR: MatTable Table Filter, get data from API #61 (enkodellc, arivera12)</li>
<li>PR: Fix Table Navigation Error #60 (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.2</h4>
<ul>
<li>PR: MatTable Version 1 #58 (enkodellc, arivera12)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.1</h4>
<ul>
<li>PR: Fixed #50 Autocomplete FullWidth + #52 (sandrohanea)</li>
<li>PR: MatIconButton Add Functionality, Update Demo #53 (enkodellc)</li>
<li>PR: Added documentation for autocomplete + Fixed #56 + changed documentation file path to a relative one(instead of absolut) #57 (sandrohanea)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.9.0</h4>
<ul>
<li>Creating partial documentation for all components (autogeneration)</li>
<li>Improved many examples</li>
<li>Improved homepage, components page design, README.md</li>
<li>Change of versioning policy is similar to Blazor</li>
<li>Fixed MatTextBox FullWidth Padding / Icon Fix #43 #51 (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.17</h4>
<ul>
<li>Fixed Select is showing native arrow? #48 (sandrohanea)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.16</h4>
<ul>
<li>New component MatAutocomplete (sandrohanea)</li>
</ul>
<h4 class="mat-h4">New domain name</h4>
<ul>
<li><a href="https://www.matblazor.com">www.matblazor.com</a></li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.15</h4>
<ul>
<li>New component MatSnackbar</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.14</h4>
<ul>
<li>New component MatRipple</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.13</h4>
<ul>
<li>New styles Layout Grid</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.12</h4>
<ul>
<li>New component MatDialog</li>
<li>MatCheckbox add inline label (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.11</h4>
<ul>
<li>New component MatProgressBar</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.10</h4>
<ul>
<li>New styles Elevation</li>
<li>License of used packages added to js boundle</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.9</h4>
<ul>
<li>Changed all events to EventCallback</li>
<li>Show Icons when MatTextField has FullWidth (enkodellc)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.8</h4>
<ul>
<li>Improved events for MatTextField (sandrohanea + SamProf)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.7</h4>
<ul>
<li>Added Typography styles</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.6</h4>
<ul>
<li>Added Href parameter to MatListItem component</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.5</h4>
<ul>
<li>MatTextField - fixed label</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.4</h4>
<ul>
<li>MatMenu - first working implementation</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.3</h4>
<ul>
<li>New MatDrawer</li>
<li>Fix MatAppBar (fixed-adjust div)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.2</h4>
<ul>
<li>Added Style Parameter for all components</li>
<li>Added BaseMatComponent Docs</li>
<li>MatDrawer in progress</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.1</h4>
<ul>
<li>Introduce Razor Components support (MatBlazorInstall component)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.6.0</h4>
<ul>
<li>Upgrade Blazor 0.9 complete</li>
<li>Upgrade to new Material Components</li>
<li>MatTextField Outlined fixed</li>
<li>MatRadioGroup and MatRadioButton enhancements</li>
<li>MatSelect Outlined fixed</li>
<li>MatSlider Step problem founded</li>
<li>Fixed main page of the demo project MatDrawer</li>
<li>MatMenu (prepared for development in next release)</li>
<li>MatDrawer (prepared for development in next release)</li>
<li>BlazorFiddle integration fixed</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.5.0</h4>
<ul>
<li>Upgrade to Blazor 0.9.0 (Part 1)</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.4.5 (Minor)</h4>
<ul>
<li>TrailingIcon in MatButton</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.4.4</h4>
<ul>
<li>Added integration with BlazorFiddle.com</li>
<li>MatIconButton - Href bacame Link</li>
</ul>
<h4 class="mat-h4">MatBlazor 0.4.3</h4>
<ul>
<li>Upgrade to Blazor 0.7.0</li>
<li>MatDrawer in progress</li>
</ul>
