@* THIS IS AUTO GENERATED FILE!!! *@

<h2>Sponsors &amp; Backers</h2>
<p>MatBlazor does not run under the umbrella of any company or anything like that.
It is an independent project created in spare time.
The development is active and we are working hard to release great things for you.</p>
<p>If you think that this project helped you or your company in any way, you can consider becoming a backer/sponsor.</p>
<ul>
<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9XT68N2VKWTPE&amp;source=url">PayPal</a></li>
<li><a href="https://www.patreon.com/SamProf">Patreon</a></li>
</ul>
<h3>Backers:</h3>
<ul>
<li><a href="https://github.com/MaurizioVerde">MaurizioVerde</a></li>
<li>Jacobus Terhorst</li>
</ul>
