@* THIS IS AUTO GENERATED FILE!!! *@

<h2 class="mat-h2">Sponsors &amp; Backers</h2>
<p>MatBlazor does not run under the umbrella of any company or anything like that.
It is an independent project created in spare time.
The development is active and we are working hard to release great things for you.</p>
<p>If you think that this project helped you or your company in any way, you can consider becoming a backer/sponsor.</p>
<ul>
<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9XT68N2VKWTPE&amp;source=url">PayPal</a></li>
<li><a href="https://www.patreon.com/SamProf">Patreon</a></li>
</ul>
<h4 class="mat-h4">Sponsors:</h4>
<ul>
<li>Phil Parkin</li>
<li>Patreon: Eric Vander Wal</li>
<li>Patreon: Rene Zaal</li>
<li>Patreon: Lachlan Gordon</li>
<li>Patreon: Stas Levich</li>
<li>Patreon: Jay Arrowz</li>
</ul>
<h4 class="mat-h4">Backers:</h4>
<ul>
<li>Oyvind Habberstad</li>
<li><a href="https://github.com/lindespang">Victor Lindespång</a></li>
<li>Gate575 Kft</li>
<li>Christophe Peugnet</li>
<li>SmartView Systems</li>
<li><a href="https://www.apply-solutions.com/">Apply Solutions GmbH</a></li>
<li>Beeman and Sons, Inc.</li>
<li>Radu Tomuleasa</li>
<li><a href="https://github.com/MaurizioVerde">Maurizio Verde</a></li>
<li>Adam Salvo</li>
<li>Yevhen Shmakov</li>
<li>Jacobus Terhorst</li>
<li>Xiao Song</li>
<li>Martin Friesenbichler</li>
</ul>
