<MatThemeProvider Theme="@theme">
    <MatToastContainer />

    <Router AppAssembly=typeof(MatBlazor.Demo.Pages.Index).Assembly>
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MatBlazor.Demo.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
            <p>Sorry, but there's nothing here!</p>
        </NotFound>
    </Router>
</MatThemeProvider>


@code
{

    MatTheme theme = new MatTheme()
    {
        Primary = "#5d2f91",
        Background = "#fafafa",
        Surface = "#ffffff"
    };

    private string _test1;

    [Parameter]
    public string Test1
    {
        get => _test1;
        set
        {
            _test1 = value;
        }
    }

}