@inherits BaseMatIconButton

<a class="mdc-icon-button mat-icon-button" ref="Ref" onclick="@OnClickHandler" href=@HRef target=@Target title=@Title>
    @if (Icon != null)
    {
        <MatIcon Icon="@Icon"></MatIcon>
    }
    @ChildContent
</a>