@inherits BaseMatIconButton

<a class="@ClassMapper.Class" style="@Style" ref="Ref" onclick="@OnClickHandler" href=@Link target=@Target title=@Title>
    @if (Icon != null)
    {
        <MatIcon Icon="@Icon"></MatIcon>
    }
    @ChildContent
</a>