.mdc-nav-menu {
    margin: 0;
    padding: 0;
}
.mat-accordion .mdc-nav-menu {
    .mat-expansion-panel__summary {
        padding: 0 14px 0 0;
    }

    .mat-expansion-panel__content {
        padding: 0 0 0 13px;
    }

    .mat-expansion-panel__content .mdc-list-item {
        font-weight: 300;
    }

    .mat-expansion-panel{
        border-bottom: none;
        background-color: transparent;
    }
}
