.mdc-nav-menu {
    margin: 0;
    padding: 0;
}

.mat-accordion .mdc-nav-menu {
    .mat-expansion-panel__summary {
        padding: 0;
    }

    .mat-expansion-panel__content {
        padding: 0 0 0 13px;
    }

    .mat-expansion-panel__content .mdc-list-item,
    .mat-expansion-panel__content .mdc-nav-link {
        font-weight: 300;
    }

    .mat-expansion-panel{
        border-bottom: none;
        background-color: transparent;
    }
}

.mdc-nav-item, .mdc-nav-li{
    flex-grow: 1;
    list-style: none;
}

.mdc-sub-menu-icon {
    position: absolute;
    right: 24px;
    top: 25%;
}

.mdc-expansion-panel--selected .mat-expansion-panel__summary::before{
    background-color: var(--mdc-theme-primary, #6200ee);
    opacity: 0.04;
    transition: opacity 0.4s ease-in-out;
}
