@namespace MatBlazor
@inherits BaseMatDomComponent
<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @attributes="Attributes" Id="@Id" @ref="Ref">
    @if (ChildContent != null)
    {
        <div class="@ContentClassMapper.AsString()">
            @ChildContent
        </div>
    }
</div>