@namespace MatBlazor
@inherits BaseMatDomComponent

<div class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id" @ref="Ref" @ref:suppressField>
         @ChildContent
     </div>

     @code
     {

         [Parameter]
         public RenderFragment ChildContent { get; set; }

         protected override async Task OnInitializedAsync()
         {
             await base.OnInitializedAsync();
             ClassMapper.Add("mdc-card__actions");
         }

     }