@namespace MatBlazor
@inherits BaseMatTabBar

<div class="@ClassMapper.AsString()" @ref="Ref"  style="@StyleMapper.AsString()" role="tablist" @attributes="Attributes" Id="@Id">
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                <CascadingValue Value="@this">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
    </div>
</div>