.﻿mat-virtual-scroll {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: stretch; */
  overflow-y: auto;

}

.mat-virtual-scroll-content {
  position: relative;
}

.mat-virtual-scroll-item {
  position: absolute;
  overflow: hidden;
}
